// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Colours

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

// Displayed information

.info {
  margin: auto;
  display: flex;
}

.tables {
  margin:auto;
}

// User forms

.user_form {
  width: 220px;
  margin: auto;
}

.expense_form {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 30px;
  color: blue;
  float: left;
}

.info_table {
  width: 300px;
  border-style: solid;
  border-color: black;
  margin-bottom: 20px;
}

.info_table th {
  color: blue;
  text-align: left;
  padding-top: 20px;
}

.table_value {
  text-align: right;
}
