// Place all the styles related to the static controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Displayed information

.info {
  margin: auto;
  display: flex;
}

.tables {
  margin:auto;
}

// User forms

.user_form {
  width: 220px;
  margin: auto;
}

.expense_form {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 30px;
  color: blue;
  float: left;
}

.info_table {
  border-style: solid;
  border-color: black;
  margin-bottom: 20px;
}

.info_table th.table_head {
  text-align: left;
  padding-top: 20px;
  font-size: 20px;
}

.table_value {
  text-align: right;
  min-width: 90px;
  padding-right: 10px;
}

.table_info {
  min-width: 200px;
}

.total_value {
  @extend .table_value;
  font-weight: bold;
}